<div style="border:#95b6df 1px solid;">
	<p style="padding:0.2em 1em 0.2em 2em; margin:0; color:#fff; background:#95b6df;">Medicine speed | account created</p>
    <p style="padding:0.5em;">
    	Hi %%FNAME %%LNAME,<br>
      	<br>
        Thank you for creating customer account at Medicine Speed online store.<br>
        <br>
        E-mail address: %%EMAIL<br>
        Password: %%PASS<br>
        <br>
        Important security notice.
        <ol>
        	<li>Always keep your account details safe.</li>
            <li>Never disclose your login details to anyone.</li>
            <li>Is you suspect that someone is using your account illegally, please inform us.</li>
        </ol>
    </p>
    <p style="padding:0.5em; color:#95b6df;"><a href="http://www.medicine-speed.com/" style="text-decoration:none; color:#7596df;">Medicine speed | http://www.medicine-speed.com/</a></p>
</div>
