%%ANOTE
<div style="border:#95b6df 1px solid;">
	<p style="padding:0.2em 1em 0.2em 2em; margin:0; color:#fff; background:#95b6df;">Medicine get | Order %%NO - <strong>%%STATUS</strong></p>
    <p style="text-align:right; padding:0; margin:0;">%%DATE</p>
    %%NNOTE
    <table width="100%" cellpadding="3" cellspacing="1">
    <tr>
    	<td style="text-align:center; background:#95b6df; color:#fff;">Name</td>
        <td style="text-align:center; background:#95b6df; color:#fff;">Qty</td>
        <td style="text-align:center; background:#95b6df; color:#fff;">Price</td>
        <td style="text-align:center; background:#95b6df; color:#fff;">Sum</td>
    </tr>
    %%CART
    <tr>
    	<td colspan="3" style="text-align:right;">Subtotal</td>
        <td style="text-align:right; background:#ffdddd;">%%SUB</td>
    </tr>
    <tr>
    	<td colspan="3" style="text-align:right;">Shipping tax</td>
        <td style="text-align:right; background:#ffdddd;">%%SHIP</td>
    </tr>
    <tr>
    	<td colspan="3" style="text-align:right;">Total</td>
        <td style="text-align:right; background:#ffdddd;">%%TOTAL</td>
    </tr>
    </table>
    
    <p style="padding:0.5em; background:#95b6df; color:#fff;">Shipping: <strong>Bgpost</strong></p>
    
    <table width="100%" cellpadding="3" cellspacing="1">
    <tr>
    	<td style="text-align:center; background:#ccc;">Shipping address</td>
        <td style="text-align:center; background:#ccc;">Recipient</td>
        <td style="text-align:center; background:#ccc;">Payment method</td>
    </tr>
    <tr>
    	<td style="text-align:left; background:#e3e3e3;">
        	Country: <strong>%%COUNTRY</strong><br>
            State: <strong>%%STATE</strong><br>
            City: <strong>%%CITY</strong><br>
            Street address: <strong>%%STR</strong><br>
            Zip code: <strong>%%ZIP</strong>
        </td>
        <td style="text-align:left; background:#e3e3e3;">
        	Name: <strong>%%NAME</strong><br>
            E-mail: <strong>%%EMAIL</strong><br>
            Phone: <strong>%%PHONE</strong>
        </td>
        <td style="text-align:left; background:#e3e3e3;">
        	%%PAYMENT
        </td>
    </tr>
    </table>
    
    <p style="padding:0.5em;"><a href="http://medicine-get.com/" style="text-decoration:none; color:#7596df;">MEGICINE GET | http:/medicine-get.com/</a></p>
</div>
